@model CollectionUserFullViewModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.LastPage > 0)
{
    <partial name="_PageNavigatorPartial" model="@Model" />
}


<div class="row">
    @foreach (var item in Model.Users)
    {
        <div class="col-lg-3">
            <div class="card card-user @(item.IsAdmin ? "border border-success" : "")">
                <div class="card-body">
                    <div class="author">
                        <a href="@Url.Action("UserById", "Users", new { id = item.Id })">
                            <img src="@item.ImageUrl" class="img-circle-lg" />
                            <h3 class="title">@item.FirstName @item.LastName</h3>
                        </a>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-center"><i class="tim-icons icon-calendar-60"></i></p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-center"><i class="tim-icons icon-headphones"></i></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-center">@item.DateCreated.ToString().Split(" ")[0]</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-center">@item.PlaylistsCount</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-description"></div>
                </div>
            </div>
        </div>
    }
</div>
<br />