@model UsersCollectionViewModel

@{ ViewData["Title"] = "All";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center">
        <h1>Users</h1>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row">
    @foreach (var item in Model.Users)
    {
<div class="col-md-3 border border-warning @(item.IsAdmin ? "bg-info" : String.Empty)" id="div-chamfered-bordered-thick">
    <div class="text-center">
        <br />
        <img src="@item.Image" id="img-circle" height="300" />
        <br />
        <br />
    </div>
    <p><b>Id:</b> @item.Id</p>
    <p><b>First Name:</b> @item.FirstName</p>
    <p><b>Last Name:</b> @item.LastName</p>
    <hr />
    <p><b>Date Created:</b> @item.DateCreated</p>
    <p><b>Date Modified:</b> @item.DateModified</p>
    <hr />
    <p><b>Is Deleted:</b> @item.IsDeleted</p>
    <p><b>Is Unlisted:</b> @item.IsBanned</p>
    <p><b>Is Admin:</b> @item.IsAdmin</p>
</div>}
</div>
