@model PlaylistCreateFormInputModel

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<body onload="initialize()">
    <h1>Create</h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 border border-primary" id="div-chamfered-bordered-thick">
            <form asp-controller="Playlists" asp-action="Create" method="post" class="form" id="createPlaylistForm" onsubmit="displayBusyIndicator()" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div> <!--UL list -->

                <div id="map" style="padding-top:10px"></div>
                <label>Origin: </label>
                <div class="input-group">
                    <input id="from_places" class="form-control" placeholder="Enter the starting point" />
                    <input id="latlng" type="hidden" name="origin" required />
                    <div class="input-group-append">
                        <button id="current_location_button" class="btn btn-secondary" type="button">Select Current Location</button>
                    </div>
                </div>

                <label>Destination: </label>
                <div class="from-group">
                    <input id="to_places" class="form-control" placeholder="Enter the end point" />
                    <input id="latlng2" type="hidden" name="destination" required />
                </div>

                <div class="row">
                    <div class="col-6">
                        Distance :
                        <span id="in_kilo" class="badge badge-primary"></span>
                    </div>
                    <div class="col-6">
                        Duration :
                        <span id="duration_text" class="badge badge-primary batge-pill"></span>
                    </div>
                    <input type="hidden" asp-for="DurationMS" id="duration_MS" class="badge badge-primary batge-pill">  @*MS needed in oreder to generate playlist*@

                </div>

                <hr />
                <p><b>Preferences:</b></p>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="row">
                    @for (int i = 0; i < Model.Categories.Count(); i++)
                    {
                    <div class="col-4">
                        <input type="checkbox" asp-for="@Model.Categories[i].IsSelected" />
                        <label asp-for="@Model.Categories[i].IsSelected">@Model.Categories[i].Name</label>
                        <input type="hidden" asp-for="@Model.Categories[i].Id" />
                        <input type="hidden" asp-for="@Model.Categories[i].SpotifyId" />
                        <input type="hidden" asp-for="@Model.Categories[i].Name" />
                    </div>}
                </div>

                <br />

                <div>
                    <hr />
                    <label>Attach Image</label><br />
                    <input class="btn btn-secondary" type="file" />
                    <hr />
                </div>

                <input type="submit" value="Submit" class="btn btn-outline-primary" />
                <br />
                <br />
                <partial name="_LoadingPartial" />
                <br />
                <br />

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
